.main-title {
    font-size: 40px;
    color: #BEA783;
    font-weight: 400;
    text-align: center;
    @media(max-width: 1099px) {
        font-size: 24px;
    }
}

.btn {
    display: inline-block;
    font-family: "SFProDisplay";
    font-weight: 500;
    text-align: center;
    height: 59px;
    line-height: 59px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #B4987A;
    transition: 0.4s;
    @media(max-width: 767px){
        font-size: 12px;
    }
    @media(min-width: 768px) and (max-width: 1099px){
        font-size: 14px;
    }
}

.btn_orange {
    background: #E79405;
    color: white;
}
