.header {
    @media(min-width: 1100px) {
        padding: 52px 90px 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    @media(max-width: 1099px) {
        background: #0F131C;
        padding: 22px 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
}

.header-main {
    height: 100vh;
    background: url("../img/top-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 19, 28, 0.6308) 14.58%, rgba(15, 19, 28, 0) 54.17%);
        z-index: 1;
    }

    .header__item {
        &:first-child {
            display: flex;
            align-items: center;
        }
    }

    .burger {
        @media(min-width: 1100px) {
            margin-right: 62px;
        }
    }
}

.header__item {
    position: relative;
    z-index: 10;
}

.burger {
    width: 30px;
    height: 22px;
    background: url("../img/burger.png") no-repeat center;
    background-size: contain;
}

.burger.is-active {
    @media(max-width: 1099px) {
        background: url("../img/close-icon.png") no-repeat center;
        background-size: contain;
    }
}

.company-name {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
}

.company-name_desc {
    @media(max-width: 1099px) {
        display: none;
    }
}

.company-adress {
    text-transform: uppercase;
    font-size: 16px;
    @media(max-width: 1099px) {
        font-size: 12px;
    }
}

.company-phone {
    color: #FFDAA1;
    font-size: 34px;
    font-family: "BebasNeue";
    font-weight: 500;
}

.recall-btn {
    width: 171px;
    height: 44px;
    text-transform: uppercase;
    background: none;
    font-size: 16px;
    border: 1px solid #B4987A;
}

.company-info {
    li {
        margin-bottom: 22px;
        @media(max-width: 1099px) {
            margin-bottom: 0;
        }

        &:not(:first-child) {
            @media(max-width: 1099px) {
                display: none;
            }
        }
    }
}

.phone-mob {
    width: 22px;
    height: 22px;
    background: url("../img/phone-icon.png") no-repeat center;
    background-size: contain;
    position: relative;
    z-index: 10;
    @media(min-width: 1100px) {
        display: none;
    }
}

.header__mob-info {
    padding-top: 90px;
    text-align: center;
    position: relative;
    z-index: 50;
    @media(min-width: 1100px) {
        display: none;
    }

    li {
        margin-bottom: 28px;
    }

    .company-name,
    .company-phone {
        font-size: 24px;
        line-height: 28px;
    }
}

.dropdown-menu {
    max-width: 498px;
    width: 100%;
    position: fixed;
    left: -100%;
    bottom: 0;
    background: #0F131C;
    z-index: 200;
    height: calc(100vh - 56px);
    overflow-y: auto;
    text-align: center;
    padding-top: 23px;
    transition: 0.5s;
    @media(min-width: 1100px) {
        height: 100vh;
    }
}

.dropdown-menu.is-active {
    left: 0;
}

.dropdown-menu__links {
    margin-bottom: 40px;
    @media(min-width: 1100px) {
        margin-bottom: 90px;
    }

    li {
        margin-bottom: 20px;
    }

    a {
        font-family: "SFProDisplay";
        font-weight: 600;
        display: inline-block;
        font-size: 18px;
        padding-bottom: 6px;
        border-bottom: 1px solid #534B42;
    }
}

.dropdown-menu__apartaments {
    font-size: 16px;
    text-transform: uppercase;

    li {
        border-bottom: 1px solid #534B42;
        margin-bottom: 34px;
        padding-bottom: 13px;
    }
    @media(min-width: 1100px) {
        font-size: 22px;
    }
}

.dropdown-menu__info {
    li {
        margin-bottom: 19px;
    }
}

.bg-dropdown {
    max-width: 790px;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    background: url("../img/drop-bg.jpg") no-repeat center;
    background-size: cover;
    z-index: 200;
    transition: 0.5s;
    @media(max-width: 1599px) {
        max-width: 390px;
        width: 100%;

        .company-name {
            font-size: 26px;
            line-height: 28px;
        }
    }
}

.bg-dropdown.is-active {
    @media(min-width: 1100px) {
        right: 0;
    }
}

.bg-dropdown__inner {
    position: relative;
    height: 100%;
    padding-top: 72px;
    padding-left: 44px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(15, 19, 28, 0.83);
    }
}

.bg-dropdown__item {
    position: relative;
    z-index: 210;
    display: flex;
    align-items: center;
}

.close-menu {
    width: 25px;
    height: 26px;
    background: url("../img/close-icon.png") no-repeat center;
    margin-right: 31px;
}

.dropdown-menu__links_bottom {
    margin-bottom: 0;
}

.btn_levels-link {
    padding: 0 24px;
    opacity: 0.7;

    &:hover {
        color: white;
        background: #E79405;
        opacity: 1;
        border: 1px solid #E79405;
    }
    @media(min-width: 1100px) and (max-width: 1599px) {
        font-size: 12px;
    }
    @media(min-width: 1600px) {
        padding: 0 40px;
    }
}

.location-block {
    background: url("../img/room-bg.jpg") no-repeat center;
    background-size: cover;
}

.location-block__top {
    background: linear-gradient(180deg, rgba(15, 19, 28, 0.79) 67.19%, rgba(15, 19, 28, 0) 100%);
    padding-top: 44px;
    @media(min-width: 992px) {
        margin-bottom: 300px;
    }
    @media(min-width: 1280px) {
        margin-bottom: 450px;
    }
}

.location-about__num {
    font-family: "SFProDisplay";
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 15px;
    color: #FFDAA1;
}

.location-about {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    padding-top: 34px;
    margin-bottom: 60px;
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media(min-width: 992px) {
        justify-content: space-between;
    }

    li {
        margin-bottom: 44px;
        @media(min-width: 768px) {
            width: 50%;
        }
        @media(min-width: 992px) {
            width: auto;
        }
    }
}

.link-type-list {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    padding-top: 25px;
    @media(min-width: 1100px) {
        display: flex;
        justify-content: space-between;
    }

    li {
        margin-bottom: 25px;
    }
}

.location-block__bottom {
    padding-bottom: 25px;
    background: linear-gradient(0deg, rgba(15, 19, 28, 0.7968) 23.96%, rgba(15, 19, 28, 0) 54.17%);
}

.bg-center {
    position: fixed;
    top: -100%;
    max-width: 706px;
    width: 100%;
    left: 50%;
    transform: translateX(-70%);
    height: 100vh;
    background: url("../img/slider-bg.jpg") no-repeat center;
    background-size: cover;
    z-index: 10;
    transition: 0.5s;
}

.bg-center.is-active {
    @media(min-width: 1100px) {
        top: 0;
    }
}

.footer {
    background: #0F131C;
    padding-top: 23px;
    padding-bottom: 31px;
    @media(min-width: 992px) {
        padding-top: 75px;
    }
}

.footer-nav {
    a {
        font-family: "SFProDisplay";
        font-weight: 600;
        font-size: 18px;
        display: inline-block;
        padding-bottom: 6px;
        border-bottom: 1px solid #534B42;
    }
}

.footer__title {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    @media(min-width: 992px) {
        font-size: 22px;
    }
}

.footer__links {
    li {
        margin-bottom: 20px;
    }

    a {
        font-family: "SFProDisplay";
        font-size: 16px;
        color: rgba(185, 152, 102, 0.62);
    }
}

.footer-info {
    li {
        margin-bottom: 19px;
    }
}

.footer-nav_left {
    li {
        margin-bottom: 27px;
    }
}

.footer__left {
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 35px;
    @media(min-width: 992px) {
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
    @media(min-width: 1280px) {
        justify-content: space-between;
        padding-right: 50px;
    }
    @media(max-width: 1279px) {
        border-bottom: 1px solid rgba(83, 75, 66, 0.57);
    }

    .footer__column{
        &:first-child{
            @media(min-width: 1280px){
                width: 500px;
            }
            @media(min-width: 1600px){
                width: 700px;
            }
        }
        &:last-child{
            @media(min-width: 1280px){
                width: 320px;
            }
        }
    }

}

.footer-nav_top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    @media(min-width: 768px) and (max-width: 1279px) {
        justify-content: center;
    }
    @media(min-width: 1280px) {
        padding: 0;
        justify-content: space-between;
    }

    li {
        &:not(:last-child) {
            margin-right: 28px;
        }
        margin-bottom: 25px;
    }

    a {
        @media(max-width: 991px) {
            font-size: 16px;
        }
    }
}

.footer__top {
    padding-bottom: 14px;
    margin-bottom: 28px;
    @media(max-width: 1279px) {
        border-bottom: 1px solid rgba(83, 75, 66, 0.57);
    }
}

.footer__links_left {
    margin-bottom: 50px;
    @media(min-width: 768px) {
        column-count: 2;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    @media(min-width: 1280px) {
        max-width: 100%;
    }

    li {
        &:nth-child(6) {
            margin-bottom: 50px;
        }
    }
}

.footer__copy {
    text-align: center;
    padding-top: 90px;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    @media(min-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media(min-width: 1800px) {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.footer__right {
    @media(max-width: 1279px) {
        order: 1;
    }
    @media(min-width: 1280px) {
        width: calc(100% - 240px);
        padding-left: 50px;
    }
    @media(min-width: 1600px) {
        padding-left: 200px;
    }
}

.footer__left {
    @media(max-width: 1279px) {
        order: 2;
    }
    @media(min-width: 1280px) {
        width: 240px;
    }
}
