<section class="level-selection">
	<p class="back-to-apps"><a href="#">Вернуться к выбору апартаментов</a></p>

	<div class="level-selection-column">


		<div class="level-selection-block">
			<div class="level-selection-tab">
				<ul>
					<li class="level-selection-active" data-num="#level-selection-tab1"><a>Первый уровень</a></li>
					<li data-num="#level-selection-tab2"><a>Второй уровень</a></li>
				</ul>
			</div>

			<div id="level-selection-tab1" class="level-selection-tab__box">
				<div class="level-selection-tab__inner">
					<p class="level-selection-tab__img">
						<img src="img/inner-ap-1.png" alt="Аппартаменты №13">
					</p>
				</div>
				<div class="level-selection-tab__inner">
					<ul>
						<li>
							<span>Кол-во <br>уровней</span>
							<span>2</span>
						</li>

						<li>
							<span>Этаж</span>
							<span>2-3</span>
						</li>

						<li>
							<span>Общая<br> площадь</span>
							<span>63,1 <span class="sup-block">м<sup>2</sup></span></span>
						</li>

						<li>
							<span>Площадь<br> террасы</span>
							<span>4,0 <span class="sup-block">м<sup>2</sup></span></span>
						</li>
					</ul>
				</div>
			</div>

			<div id="level-selection-tab2" class="level-selection-tab__box">
				<div class="level-selection-tab__inner">
					<p class="level-selection-tab__img">
						<img src="img/inner-ap-1.png" alt="Аппартаменты №13">
					</p>
				</div>
				<div class="level-selection-tab__inner">
					<ul>
						<li>
							<span>Кол-во <br>уровней</span>
							<span>2</span>
						</li>

						<li>
							<span>Этаж</span>
							<span>2-3</span>
						</li>

						<li>
							<span>Общая<br> площадь</span>
							<span>63,1 <span class="sup-block">м<sup>2</sup></span></span>
						</li>

						<li>
							<span>Площадь<br> террасы</span>
							<span>4,0 <span class="sup-block">м<sup>2</sup></span></span>
						</li>
					</ul>
				</div>
			</div>

		</div>


		<div class="level-selection-block">

			<form class="main-form">
				<h2 class="main-form__caption level-selection__caption">Онлайн заявка</h2>

				<label aria-label="Ваше имя">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Ваше имя">
				</label>

				<label aria-label="Контактный телефон">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Контактный телефон">
				</label>

				<label aria-label="Комментарий">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Комментарий">
				</label>

				<input class="main-form__input-checkbox" id="main-form__input-checkbox" type="checkbox" checked>
				<label class="main-form__agree level-selection-block__agree" for="main-form__input-checkbox">Согласен на обработку персональных <br> данных</label>

				<button class="btn btn_orange main-form__submit" type="submit">Записаться на просмотр</button>
			</form>
		</div>


	</div><!-- end level-selection-column-->
</section><!-- end level-selection -->

<section class="appartaments">

	<div id="appartaments-tab1" class="appartaments-tab__box">
		<!-- Swiper -->
		<div class="swiper-container appartaments-tab1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps2.jpg" alt="Апартаменты 2">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps2.jpg" alt="Апартаменты 2">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
			</div>

			<div class="nav-block">
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>

				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>

	<div id="appartaments-tab2" class="appartaments-tab__box">
		<!-- Swiper -->
		<div class="swiper-container appartaments-tab1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps2.jpg" alt="Апартаменты 2">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps2.jpg" alt="Апартаменты 2">
					</p>
				</div>
				<div class="swiper-slide">
					<p class="appartaments-img">
						<img src="img/apps1.jpg" alt="Апартаменты 1">
					</p>
				</div>
			</div>

			<div class="nav-block">
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>

				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
</div>
<div id="appartaments-tab3" class="appartaments-tab__box">
	<!-- Swiper -->
	<div class="swiper-container appartaments-tab1">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<p class="appartaments-img">
					<img src="img/apps1.jpg" alt="Апартаменты 1">
				</p>
			</div>
			<div class="swiper-slide">
				<p class="appartaments-img">
					<img src="img/apps2.jpg" alt="Апартаменты 2">
				</p>
			</div>
			<div class="swiper-slide">
				<p class="appartaments-img">
					<img src="img/apps1.jpg" alt="Апартаменты 1">
				</p>
			</div>
			<div class="swiper-slide">
				<p class="appartaments-img">
					<img src="img/apps2.jpg" alt="Апартаменты 2">
				</p>
			</div>
			<div class="swiper-slide">
				<p class="appartaments-img">
					<img src="img/apps1.jpg" alt="Апартаменты 1">
				</p>
			</div>
		</div>

		<div class="nav-block">
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>

			<!-- Add Arrows -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>
</div>


<div class="appartaments-tab">
	<ul>
		<li><a href="#appartaments-tab1" class="appartaments-active"><span>Классика</span></a></li>
		<li><a href="#appartaments-tab2"><span>Минимализм</span></a></li>
		<li><a href="#appartaments-tab3"><span>Классика и минимализм</span></a></li>
	</ul>
</div>
</section>

<section class="offer">
	<h1 class="main-title offer__caption">Получите спецпредложение от застройщика!</h1>

	<div class="offer__block">

		<div class="offer__column">
			<h2 class="offer__subtitle">Офис застройщика работает ежедневно, без выходных</h2>

			<ul class="offer__list">
				<li>С понедельника по пятницу с 9:00 до 21:00</li>
				<li>суббота и воскресенье с 10:00 до 17:00</li>
				<li>Записаться можно по телефону: +7 (495) 271-95-00 или онлайн</li>
			</ul>
		</div>


		<div class="offer__column">
			<div class="offer-form">
				<form class="main-form">
					<h2 class="main-form__caption level-selection__caption">Онлайн заявка</h2>

					<label aria-label="Ваше имя">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Ваше имя">
					</label>

					<label aria-label="Контактный телефон">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Контактный телефон">
					</label>

					<label aria-label="Комментарий" class="offer-form__label">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Комментарий">
					</label>

					<input class="main-form__input-checkbox" id="main-form__input-checkbox2" type="checkbox" checked>
					<label class="main-form__agree level-selection-block__agree" for="main-form__input-checkbox2">Согласен на обработку персональных <br> данных</label>

					<button class="btn btn_orange main-form__submit" type="submit">Записаться на просмотр</button>
				</form>
			</div>
		</div>

	</div>
</section>

<section class="map2">
	<p class="map__img2">
		<img src="img/map.jpg" alt="Карта">
	</p>
	<div class="map__block2">
		<span class="map__baloon2">
			<img src="img/baloon2.png" alt="Дом на парковке">
		</span>

		<span class="map__boat"></span>
		<span class="map__lounge">Барвиха Lounge</span>
		<span class="map__wine">I like wine</span>
		<span class="map__kitchen">Честная кухня</span>
		<span class="map__spa">Pokrovka Royal Spa</span>
		<span>Чистопрудный бульвар</span>
		<span>ул. Покровка</span>
		<span>ул. Садовая - Спасская</span>
	</div>
</section>