<div class="level-selection">
	<p class="back-to-apps"><a href="#">Вернуться к выбору апартаментов</a></p>

	<div class="level-selection-column">


		<div class="level-selection-block">
			<div class="level-selection-tab">
				<ul>
					<li class="level-selection-active" data-num="#level-selection-tab1"><a>Первый уровень</a></li>
					<li data-num="#level-selection-tab2"><a>Второй уровень</a></li>

				</ul>
			</div>

			<div id="level-selection-tab1" class="level-selection-tab__box">
				<div class="level-selection-tab__inner">
					<p class="level-selection-tab__img">
						<img src="img/inner-ap-1.png" alt="Аппартаменты №13">
					</p>
				</div>
				<div class="level-selection-tab__inner">
					<ul>
						<li>
							<span>Кол-во <br>уровней</span>
							<span>2</span>
						</li>

						<li>
							<span>Этаж</span>
							<span>2-3</span>
						</li>

						<li>
							<span>Общая<br> площадь</span>
							<span>63,1 <span class="sup-block">м<sup>2</sup></span></span>
						</li>

						<li>
							<span>Площадь<br> террасы</span>
							<span>4,0 <span class="sup-block">м<sup>2</sup></span></span>
						</li>
					</ul>
				</div>
			</div>

			<div id="level-selection-tab2" class="level-selection-tab__box">
				<div class="level-selection-tab__inner">
					<p class="level-selection-tab__img">
						<img src="img/inner-ap-1.png" alt="Аппартаменты №13">
					</p>
				</div>
				<div class="level-selection-tab__inner">
					<ul>
						<li>
							<span>Кол-во <br>уровней</span>
							<span>2</span>
						</li>

						<li>
							<span>Этаж</span>
							<span>2-3</span>
						</li>

						<li>
							<span>Общая<br> площадь</span>
							<span>63,1 <span class="sup-block">м<sup>2</sup></span></span>
						</li>

						<li>
							<span>Площадь<br> террасы</span>
							<span>4,0 <span class="sup-block">м<sup>2</sup></span></span>
						</li>
					</ul>
				</div>
			</div>

		</div>


		<div class="level-selection-block">

			<form class="main-form">
				<h2 class="main-form__caption level-selection__caption">Онлайн заявка</h2>

				<label aria-label="Ваше имя">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Ваше имя">
				</label>

				<label aria-label="Контактный телефон">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Контактный телефон">
				</label>

				<label aria-label="Комментарий">
					<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Комментарий">
				</label>

				<input class="main-form__input-checkbox" id="main-form__input-checkbox" type="checkbox" checked>
				<label class="main-form__agree level-selection-block__agree" for="main-form__input-checkbox">Согласен на обработку персональных <br> данных</label>

				<button class="btn btn_orange main-form__submit" type="submit">Записаться на просмотр</button>
			</form>
		</div>


	</div><!-- end level-selection-column-->
</div><!-- end level-selection -->