.location-block
    .location-block__top
        p.main-title Идеальное расположение

        ul.location-about
            li
                .location-about__num 10
                p.location-about__article минут от метро<br> Чистые пруды
            li
                .location-about__num 250
                p.location-about__article метров до<br> Садового кольца
            li
                .location-about__num 440
                p.location-about__article минут до<br> Чистопрудного бульвара
            li
                .location-about__num 10
                p.location-about__article минут до<br> Красной площади

    .location-block__bottom
        p.main-title Выберите апартаменты:

        ul.link-type-list
            li
                a(href="#").btn.btn_levels-link одноуровневые апартаменты
            li
                a(href="#").btn.btn_levels-link двухуровневые апартаменты
            li
                a(href="#").btn.btn_levels-link апартаменты с отдельным входом
            li
                a(href="#").btn.btn_levels-link апартаменты с террасой

.apartments-block
    .apartments-block__cont
        .apartments-block__top
            blockquote.quote 
                p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города

        .apartments-slider-wrap
            .apartments-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .apartments-slider__img
                            img(src="img/ap-1.png")

                        ul.apartments-slider__info
                            li
                                p.apartments-slider__title Апартаменты 1
                                .area-block Общая площадь:
                                .area-num 28,60 м
                                    sup 2
                            li
                                a(href="#").btn.btn_orange.apartments-slider__btn Подробнее

                    .swiper-slide
                        .apartments-slider__img
                            img(src="img/ap-2.png")

                        ul.apartments-slider__info
                            li
                                p.apartments-slider__title Апартаменты 2
                                .area-block Общая площадь:
                                .area-num 28,60 м
                                    sup 2
                            li
                                a(href="#").btn.btn_orange.apartments-slider__btn Подробнее

                    .swiper-slide
                        .apartments-slider__img
                            img(src="img/ap-1.png")

                        ul.apartments-slider__info
                            li
                                p.apartments-slider__title Апартаменты 1
                                .area-block Общая площадь:
                                .area-num 28,60 м
                                    sup 2
                            li
                                a(href="#").btn.btn_orange.apartments-slider__btn Подробнее

                    .swiper-slide
                        .apartments-slider__img
                            img(src="img/ap-2.png")

                        ul.apartments-slider__info
                            li
                                p.apartments-slider__title Апартаменты 2
                                .area-block Общая площадь:
                                .area-num 28,60 м
                                    sup 2
                            li
                                a(href="#").btn.btn_orange.apartments-slider__btn Подробнее

                .swiper-pagination

            .swiper-button-next.swiper-button-next-apart
            .swiper-button-prev.swiper-button-prev-apart    

.flat-info
    button.flat-info__btn.active(type="button") Повернуть здание
    .flat-info__front.flat-info__item
        img(src="img/plan-front.jpg")
        a(href="#").flat-info__layer.layer-8
            img(src="img/layer-8.svg")
            ul.flat-about.flat-about_8
                li
                    .flat-about__title Апартаменты:
                    span 6
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
        a(href="#").flat-info__layer.layer-16
            img(src="img/layer-16.png")
            ul.flat-about.flat-about_16
                li
                    .flat-about__title Апартаменты:
                    span 16
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 35,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-15
            img(src="img/layer-15.png")
            ul.flat-about.flat-about_15
                li
                    .flat-about__title Апартаменты:
                    span 15
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-14
            img(src="img/layer-14.png")
            ul.flat-about.flat-about_14
                li
                    .flat-about__title Апартаменты:
                    span 14
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-13
            img(src="img/layer-13.png")
            ul.flat-about.flat-about_13
                li
                    .flat-about__title Апартаменты:
                    span 13
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-7
            img(src="img/layer-7.png")
            ul.flat-about.flat-about_7
                li
                    .flat-about__title Апартаменты:
                    span 8
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-6
            img(src="img/layer-6.png")
            ul.flat-about.flat-about_6
                li
                    .flat-about__title Апартаменты:
                    span 6
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-5
            img(src="img/layer-5.png")
            ul.flat-about.flat-about_5
                li
                    .flat-about__title Апартаменты:
                    span 5
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2
    .flat-info__back.flat-info__item.hide
        img(src="img/plan-back.jpg")    
        a(href="#").flat-info__layer.layer-1
            img(src="img/layer-1.png")
            ul.flat-about.flat-about_1
                li
                    .flat-about__title Апартаменты:
                    span 1
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-2
            img(src="img/layer-2.png")
            ul.flat-about.flat-about_2
                li
                    .flat-about__title Апартаменты:
                    span 2
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-3
            img(src="img/layer-3.png")
            ul.flat-about.flat-about_3
                li
                    .flat-about__title Апартаменты:
                    span 3
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-4
            img(src="img/layer-4.png")
            ul.flat-about.flat-about_4
                li
                    .flat-about__title Апартаменты:
                    span 4
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-9
            img(src="img/layer-9.png")
            ul.flat-about.flat-about_9
                li
                    .flat-about__title Апартаменты:
                    span 4
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-10
            img(src="img/layer-10.png")
            ul.flat-about.flat-about_10
                li
                    .flat-about__title Апартаменты:
                    span 10
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-11
            img(src="img/layer-11.png")
            ul.flat-about.flat-about_11
                li
                    .flat-about__title Апартаменты:
                    span 11
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        a(href="#").flat-info__layer.layer-12
            img(src="img/layer-12.png")
            ul.flat-about.flat-about_12
                li
                    .flat-about__title Апартаменты:
                    span 12
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

<section class="offer">
    <h1 class="main-title offer__caption">Получите спецпредложение от застройщика!</h1>

    <div class="offer__block">

        <div class="offer__column">
            <h2 class="offer__subtitle">Офис застройщика работает ежедневно, без выходных</h2>

            <ul class="offer__list">
                <li>С понедельника по пятницу с 9:00 до 21:00</li>
                <li>суббота и воскресенье с 10:00 до 17:00</li>
                <li>Записаться можно по телефону: +7 (495) 271-95-00 или онлайн</li>
            </ul>
        </div>


        <div class="offer__column">
            <div class="offer-form">
                <form class="main-form">
                    <h2 class="main-form__caption level-selection__caption">Онлайн заявка</h2>

                    <label aria-label="Ваше имя">
                        <input class="main-form__input-text level-selection____input-text" type="text" placeholder="Ваше имя">
                    </label>

                    <label aria-label="Контактный телефон">
                        <input class="main-form__input-text level-selection____input-text" type="text" placeholder="Контактный телефон">
                    </label>

                    <label aria-label="Комментарий" class="offer-form__label">
                        <input class="main-form__input-text level-selection____input-text" type="text" placeholder="Комментарий">
                    </label>

                    <input class="main-form__input-checkbox" id="main-form__input-checkbox2" type="checkbox" checked>
                    <label class="main-form__agree level-selection-block__agree" for="main-form__input-checkbox2">Согласен на обработку персональных <br> данных</label>

                    <button class="btn btn_orange main-form__submit" type="submit">Записаться на просмотр</button>
                </form>
            </div>
        </div>

    </div>
</section>

<section class="map">
    <p class="map__img">
        <img src="img/map.jpg" alt="Карта">
    </p>
    <div class="map__block">
        <span class="map__baloon">
            <img src="img/baloon.png" alt="Дом на парковке">
        </span>

        <span class="map__market">Центральный <br> рынок</span>
        <span class="map__metro">Метро <br>чистые пруды</span>
        <span class="map__square">Московский <br>кремль</span>
        <span class="map__street">ул. Покровка</span>

    </div>
</section>
