.location-block
    .location-block__top
        p.main-title Идеальное расположение
        
        ul.location-about
            li
                .location-about__num 10
                p.location-about__article минут от метро<br> Чистые пруды
            li
                .location-about__num 250
                p.location-about__article метров до<br> Садового кольца
            li
                .location-about__num 440
                p.location-about__article минут до<br> Чистопрудного бульвара
            li
                .location-about__num 10
                p.location-about__article минут до<br> Красной площади
                
    .location-block__bottom
        p.main-title Выберите апартаменты:
        
        ul.link-type-list
            li
                a(href="#").btn.btn_levels-link одноуровневые апартаменты
            li
                a(href="#").btn.btn_levels-link двухуровневые апартаменты
            li
                a(href="#").btn.btn_levels-link апартаменты с отдельным входом
            li
                a(href="#").btn.btn_levels-link апартаменты с террасой
        
