<section class="single">
	ul.link-type-list.single-list
		li
			a(href="single.html").btn.btn_levels-link одноуровневые апартаменты
		li
			a(href="twice.html").btn.btn_levels-link двухуровневые апартаменты
		li
			a(href="separate.html").btn.btn_levels-link апартаменты с отдельным входом
		li
			a.btn.btn_levels-link.single-active апартаменты с террасой

	<div class="single-block">


			<div class="div">
				<p class="single-first-level single-first-level4">
					<img src="img/single4.png" alt="Первый этаж">

					<span class="single-btn single-btn_one">
						<a href="#" class="btn btn_orange">Подробнее</a>
					</span>

					<span class="single-btn single-btn_three">
						<a href="#" class="btn btn_orange">Подробнее</a>
					</span>

					<span class="single-btn single-btn_five">
						<a href="#" class="btn btn_orange">Подробнее</a>
					</span>

					<span class="single-btn single-btn_seven">
						<a href="#" class="btn btn_orange">Подробнее</a>
					</span>
				</p>
			</div>



</section>

<section class="offer">
	<h1 class="main-title offer__caption">Получите спецпредложение от застройщика!</h1>

	<div class="offer__block">

		<div class="offer__column">
			<h2 class="offer__subtitle">Офис застройщика работает ежедневно, без выходных</h2>

			<ul class="offer__list">
				<li>С понедельника по пятницу с 9:00 до 21:00</li>
				<li>суббота и воскресенье с 10:00 до 17:00</li>
				<li>Записаться можно по телефону: +7 (495) 271-95-00 или онлайн</li>
			</ul>
		</div>


		<div class="offer__column">
			<div class="offer-form">
				<form class="main-form">
					<h2 class="main-form__caption level-selection__caption">Онлайн заявка</h2>

					<label aria-label="Ваше имя">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Ваше имя">
					</label>

					<label aria-label="Контактный телефон">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Контактный телефон">
					</label>

					<label aria-label="Комментарий" class="offer-form__label">
						<input class="main-form__input-text level-selection____input-text" type="text" placeholder="Комментарий">
					</label>

					<input class="main-form__input-checkbox" id="main-form__input-checkbox2" type="checkbox" checked>
					<label class="main-form__agree level-selection-block__agree" for="main-form__input-checkbox2">Согласен на обработку персональных <br> данных</label>

					<button class="btn btn_orange main-form__submit" type="submit">Записаться на просмотр</button>
				</form>
			</div>
		</div>

	</div>
</section>

<section class="map">
	<p class="map__img">
		<img src="img/map.jpg" alt="Карта">
	</p>
	<div class="map__block">
		<span class="map__baloon">
			<img src="img/baloon.png" alt="Дом на парковке">
		</span>

		<span class="map__market">Центральный <br> рынок</span>
		<span class="map__metro">Метро <br>чистые пруды</span>
		<span class="map__square">Московский <br>кремль</span>
		<span class="map__street">ул. Покровка</span>

	</div>
</section>