.header.header-main
    .header__inner
        .header__item
            button(type="button").burger
            p.company-name.company-name_desc Дом на покровке<br> быть в центре
                
        .header__item
            ul.company-info
                li
                    p.company-adress Москва, Покровка, 43, стр 8
                li
                    a(href="#tel:74952719500").company-phone.company-phone_desc +7 (495) 271-95-00
                li
                    button(type="button").recall-btn.recall Заказать звонок
        
        button(type="button").phone-mob.recall
    
    ul.header__mob-info
        li
            a(href="#tel:74952719500").company-phone +7 (495) 271-95-00
        li
            p.company-name Дом на покровке<br> быть в центре

.dropdown-menu
    ul.dropdown-menu__links
        li
            a(href="#") Главная
        li
            a(href="#") О проекте
        li
            a(href="#") Расположение
        li
            a(href="#") Галерея
        li
            a(href="#") Выбор апартаментов
        li
            a(href="#") Условия покупки
        
    ul.dropdown-menu__apartaments
        li
            a(href="#") Одноуровневые апартаменты
        li
            a(href="#") Двухуровневые апартаменты
        li
            a(href="#") Апартаменты с отдельным входом
        li
            a(href="#") Апартаменты с террасой
        
    ul.dropdown-menu__info
        li
            p.company-adress Москва, Покровка, 43, стр 8
        li
            a(href="#tel:74952719500").company-phone +7 (495) 271-95-00
        li
            button(type="button").recall-btn.recall Заказать звонок
    
    ul.dropdown-menu__links.dropdown-menu__links_bottom
        li
            a(href="#") Контакты
        li
            a(href="#") Документация

.bg-dropdown
    .bg-dropdown__inner
        .bg-dropdown__item
            button(type="button").close-menu
            p.company-name Дом на покровке<br> быть в центре
        
