extends ../layout/layout.pug
block vars
	- var title = 'Карточка товара';
block header
	include ../includes/header-inner.pug
block content
	include ../includes/content-card.pug
block footer
	include ../includes/footer.pug

