extends ../layout/layout.pug
block vars
	- var title = 'Выбор апартаментов';
block header
	include ../includes/header-single.pug
block content
	include ../includes/content-separate.pug
block footer
	include ../includes/footer.pug
