extends ../layout/layout.pug
block vars
	- var title = 'Одноуровневые апартаменты';
block header
	include ../includes/header-single.pug
block content
	include ../includes/content-single.pug
block footer
	include ../includes/footer.pug
